.content > div {
  max-width: var(--width);
  margin: 0 auto;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  h1 {
    + p:has(> em:first-child) {
      margin: -1rem 0 2rem;
      color: gray;
      font-size: var(--font-sm);
    }
  }

  p:has(> em:first-child):has(+ h1) {
    margin-bottom: calc(-1 * var(--font-sm));
    color: gray;
    text-align: right;
    font-size: var(--font-sm);

    em {
      font-style: normal;
    }

    a,
    a:visited {
      color: gray;
    }
  }

  blockquote {
    font-style: italic;
    font-size: 1.19em;

    > p > em:last-child {
      display: block;
      text-align: right;
      font-size: var(--font-sm);
      color: gray;

      a,
      a:visited {
        color: gray;
      }
    }
  }

  ul,
  ol {
    padding-left: 1em;

    li:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    min-height: 2rem;
    background: lightgrey;
  }

  p img + em,
  video + em {
    font-size: var(--font-sm);
    text-align: center;
    display: block;

    a,
    a:visited {
      color: gray;
    }
  }
}
